
<section id="attribution">
  <div class="container">
    <p>Toutes les photos utilisées sont des ressources libres de droits provenant du site <a class="attrib__link" href="https://unsplash.com/" target="_blank">unsplash.com</a></p>
    <p>Toutes les icônes utilisées sont des ressources libres de droits provenant du site <a class="attrib__link" href="https://www.flaticon.com/" target="_blank">www.flaticon.com</a></p>
  </div>
</section>



