
  <!-- T*T -- FOOTER -->



  <footer>
    <div class="container">

      <small class="dnn"><b>v0.2.0</b></small>

      <div class="foot__wrapper">

        <div class="foot__col help">
          <h3 class="foot__nav__title">Aide</h3>
          <ul class="ls-none pm0">
            <li>Suivi commande</li>
            <li>Livraisons & retours</li>
            <li>Assistance</li>
            <li>FAQ</li>
          </ul>
        </div>

        <div class="foot__col about">
          <h3 class="foot__nav__title">À propos</h3>
          <ul class="ls-none pm0">
            <li>Qui sommes nous</li>
            <li>Conditions de vente</li>
            <li>Confidentialité</li>
            <li>Mentions légales</li>
          </ul>
        </div>

        <div class="foot__col more">
          <h3 class="foot__nav__title">Encore plus</h3>
          <ul class="ls-none pm0">
            <li>Blog</li>
            <li>Matières innovantes</li>
            <li>Soldes</li>
            <li>4Store recrute</li>
          </ul>
        </div>

        <div class="foot__col social">
          <h3 class="foot__nav__title w100 alcent">Suivez nous</h3>
          <div class="social__logos w75 m0auto">
            <img class="social__logo__image" src="/assets/icons/instagram.png" alt="">
            <img class="social__logo__image" src="/assets/icons/facebook.png" alt="">
            <img class="social__logo__image" src="/assets/icons/tweeter.png" alt="">
            <img class="social__logo__image" src="/assets/icons/youtube.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </footer>