
<div class="container">

  <span>
  </span>

  <h5>
    <a class="main__logo" href="/">

      <i class="ph-spade"></i>
      <i class="ph-diamond"></i>
      <i class="ph-club"></i>
    <i class="ph-heart"></i>

    4Store - 0.1.0</a>
  </h5>
  
  <p class="view"><%= templateName %></p>

  <%- include('./nav') %>

</div>
