<div class="container">

  <span>
  </span>

  <h5 style="border: 1px solid #212529; width: fit-content; padding: .125rem; display: inline-block; margin: 0;">
    <a class="main__logo" href="/">
      <i class="ph-spade"></i>
      <i class="ph-diamond"></i>
      <i class="ph-club"></i>
      <i class="ph-heart"></i>
      <br>
      4Store
    </a>
  </h5>

  <small><b>v0.1.1</b></small>

  <p class="view">
    <%= templateName %>
  </p>

  <%- include('./nav') %>

</div>