
<div class="container">

  <span>
  </span>

  <h4>
    <a class="main__logo" href="/">

    <!-- <i class="ph-spade"></i>
    <i class="ph-heart"></i>
    <i class="ph-club"></i>
    <i class="ph-diamond"></i> -->

    extra - 0.0.2</a>
  </h4>
  
  <p class="view"><%= templateName %></p>

  <%- include('./nav') %>

</div>
