
<div class="inbar">

  <nav>
    <ul class="inbar__nav">

      <!-- flex-child -->
      <div class="inbar__nav--primary">
        <li class="inbar__nav__link">
          <a href="/category/99">SOLDES</a>
        </li>
        <li class="inbar__nav__link">
          <a href="/category/100">tout</a>
        </li>
      </div>

      <!-- flex-child -->
      <div class="inbar__nav--secondary">
        <% for (const category of categories) { %>
          <li class="inbar__nav__link">
            <a class="" href="/category/<%= category.catId %>">
              <img class="cat__icon" src="/assets/icons/<%= category.icoUrl %>" alt="">
            </a>
          </li>
          <% } %>
      </div>


    </ul>

  </nav>

  <div class="inbar__search">
    <input type="text" name="" id="" placeholder="search..." style="margin: .25rem; width: 95%;">
  </div>


</div>


<p class="vst">.inbar</p>