<p class="vst">.inbar</p>

<div id="inbar">

  <nav>
    <div class="inbar__nav">

      <!-- flex-child -->
      <ul class="inbar__nav--primary">

        <li class="inbar__nav__link inbar--promo">
          <a class="txtgr" href="/category/99">SOLDES</a>
        </li>
        
        <li class="inbar__nav__link inbar--every">
          <a class="txtgr" href="/category/100">tout</a>
        </li>
      </ul>

      <!-- flex-child -->
      <ul class="inbar__nav--secondary">

        <% for (const category of categories) { %>
          <li class="inbar__nav__link inbar__nav__link--category">

            <a class="inbar__category__anchor" href="/category/<%= category.catId %>">
              <img class="cat__icon" src="/assets/icons/<%= category.icoUrl %>" alt="">
            </a>

          </li>
        <% } %>
      </ul>

    </div>

  </nav>

  <div class="inbar__search">
    <input type="text" name="" id="globalSearch" style="">
  </div>

</div>