<nav>
  <ul class="d-flex ls-none">
    <li>
      <h3>
        <a href="/admin">
          <i class="ph-gear"></i>
        </a>
      </h3>
    </li>
    <li>
      <h3>
        <a href="/cart">
          <i class="ph-shopping-cart-simple"></i>
        </a>
      </h3>

    </li>
  </ul>
</nav>