<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">

        <h2>Nous sommes désolés !</h2>

        <p>La page demandée n'existe pas...</p>

      </div>
    </section>

  </main>

</body>

</html>