<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <div class="container">
      <h1>Extra - 0.0.1</h1>

      <%- include('./includes/nav') %>

    </div>
  </header>

  <main>

    <section>
      <div class="container">

        <h2>Nous sommes désolés !</h2>

        <p>Une erreur est survenue...</p>
        <p>Veuillez réessayer plus tard.</p>

      </div>
    </section>

  </main>

</body>

</html>