<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">

        <h2 class="page__title">Admin</h2>

        <ul>
          <li>
            <a href="/viewer" class="btn"><i class="ph-table" style="font-size: 1.5rem;"></i> Viewer</a>
          </li>
          <li>
            <a href="/product/create" class="btn"><i class="ph-plus-circle" style="font-size: 1.5rem;"></i> Création Produit</a>
          </li>
        </ul>



      </div>
    </section>



    <%- include('./includes/scriptlist') %>
</body>

</html>