<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">
        <%- include('./includes/breadcrumb') %>
      </div>
    </section>

    <section>
      <div class="container">

        <!--
        <p class="notes">
          Cette page est la porte d'entrée du site.<br>
          L'user ne fait que choisir FEMME ou HOMME, il n'y a pas de reqûete en bdd.
        </p>
        -->

        <h2 class="page__title">Accueil</h2>

        <div class="two__col">
          <div class="two__col__half">
            <img src="https://via.placeholder.com/150/b4c1cc/f8f9fa?text=extra" alt="">
            <p>
              <a href="/wom" class="btn btn--xl" data-gender="wom">Femme</a>
            </p>

          </div>
          <div class="two__col__half">
            <img src="https://via.placeholder.com/150/b4c1cc/f8f9fa?text=extra" alt="">
            <p>
              <a href="/man" class="btn btn--xl" data-gender="man">Homme</a>
            </p>

          </div>
        </div>

      </div>
    </section>


    <section>
      <div class="container">
        <h3>Newsletter</h3>
        <p class="placeholder">
          <i class="ph-wrench"></i>
          Formulaire inscription newsletter
        </p>
      </div>
    </section>
  </main>

  <%- include('./includes/scriptlist') %>
</body>

</html>