<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>
  
  <main>
    
    <section>
      <%- include('./includes/modal') %>
    </section>

    <!-- pas de breadcrumb sur cette page -->

    <section>
      <div class="container">

        <h2 class="page__title">Accueil</h2>

        <div class="two__col">
          <div class="two__col__half">

            <div id="selectWom" class="gender__link block__link" data-href="/wom" style="text-align: center;">
              <!-- <img src="https://via.placeholder.com/150/dde2e9/f8f9fa?text=image femme" alt=""> -->
              <img src="/assets/pictures/active/genderWom.jpg" alt="" class="gender__image"
                style="width: 150px; height: 150px; object-fit: cover;">
              <br>
              <!-- <a href="/wom" class="btn btn--xl" data-gender="wom">Femme</a> -->
              <h2 data-gender="wom">Femme</h2>
            </div>

          </div>

          <div class="two__col__half">

            <div id="selectMan" class="gender__link block__link" data-href="/man" style="text-align: center;">
              <!-- <img src="https://via.placeholder.com/150/dde2e9/f8f9fa?text=image homme" alt=""> -->
              <img src="/assets/pictures/active/genderMan.jpg" alt="" class="gender__image"
                style="width: 150px; height: 150px; object-fit: cover;">
              <br>
              <!-- <a href="/man" class="btn btn--xl" data-gender="man">Homme</a> -->
              <h2 data-gender="man">Homme</h2>
            </div>

          </div>
        </div>

      </div>
    </section>


    <section>
      <div class="container">
        <h3>Newsletter</h3>
        <p>Inscrivez vous pour recevoir toutes nos offres de réduction.</p>
        <form action="" method="" style="width: 50%; display: flex; margin: 0 auto;">
          <input type="text" style="margin: 0;">
          <button class="btn" type="submit">Inscription</button>
        </form>

        <!-- <p class="pch--func">
          <i class="ph-wrench"></i>
          Formulaire inscription newsletter
        </p> -->

      </div>
    </section>
  </main>


  <footer>
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul>
        <li>utils.js</li>
        <li>main.js</li>
      </ul>
    </div>
  </footer>

  <%- include('./includes/scriptlist') %>
</body>

</html>