<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">

        <h2 class="page__title">Success</h2>

        <p>Le produit a bien été <%= successMode %>.</p>

        <a class="btn" href="/viewer">retour à la liste produits</a>

      </div>
    </section>

  <%- include('./includes/scriptlist') %>
</body>

</html>