*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--c-dark);
  color: var(--c-lgt);

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FONT SIZES / PADDING / MARGIN */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}






h4 {
  /* border: 1px solid #099f9f; */
  color: yellow;
  padding: .5rem;
  width: fit-content;
  margin: 0;
  padding: 0 .25rem;
}

ul {
  /* list-style: none; */
  /* padding: 0; */
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BREADCRUMB */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.brd__list {
  display: flex;
  gap: 1rem;


  list-style: none;
  padding: 0;

}

.brd__link {
  color: #dad1c8;
}



.block__link {
  background: #dad1c8;
}

.block__link:hover {
  /* background: #eb8102 !important; */
  cursor: pointer;
}






#breadcrumb {
  /* background: red; */

  padding: 1rem 0;
}







/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- INDEX */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.gender__link {
  /* border: 2px solid #1be; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gender__title {
  text-align: center;
  width: 30%;
  background: var(--c-dark);
  color: var(--c-lgt);

  padding: .5rem;
}

#selectWom {
  background-image: url(../assets/pictures/active/genderWom.jpg);
}

#selectMan {
  background-image: url(../assets/pictures/active/genderMan.jpg);
}



.gender__link#selectWom:hover {
  background-image: url(../assets/pictures/active/genderWomB.jpg);
}

.gender__link#selectMan:hover {
  background-image: url(../assets/pictures/active/genderManB.jpg);
}

.gender__link:hover .gender__title {
  background: var(--c-lgt);
  color: var(--c-hero)
}




@media (min-width: 800px) {
  #genderNav {
    display: flex;
  }


  .gender__link {
    width: 50%;
    height: 50vh;
  }
  
}




#newsLetter {
  background: olive;

  padding: 1.5rem 0;
}








/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- GENDER */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.cat__icon {
  width: 24px;
}


#inbar {
  background: var(--c-shad);
  padding: .5rem 0;
}

#inbar nav {
  flex-grow: 1;
}

.inbar__nav {
  /* background: skyblue; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.inbar__nav--primary,
.inbar__nav--secondary {
  display: flex;
  justify-content: space-evenly;
  gap: .5rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

.inbar__nav--primary {
  /* border: 2px solid green; */
}

.inbar__nav--secondary {
  /* border: 2px solid purple; */
}

.inbar__nav__link {
  /* border: 1px solid #eb8102; */
  padding: 0 1rem;
}

.inbar__nav__link a:hover {
  background: #dad1c8;
}















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* PRODUCT CARDS */





.card {
  border: 1px solid violet;
  background: var(--c-mid);
  position: relative;

  width: 50%;

  padding: 1.5rem .25rem .25rem;
}




/* TODO - MEDIA */
@media (min-width: 820px) {

  .card {
    width: 25%;
  }

}


.card__id {
  position: absolute;
  left: 0;
  top: 0;

  padding: .25rem;
  color: deeppink;
}

.card__tag {
  position: absolute;
  right: 0;
  top: 0;

  width: 50%;
  height: 20px;
  background: #eb8102;
  color: #fff;

  text-align: center;
}

.price--def {
  color: #eb8102;
}

.price--erased {
  color: #dad1c8;
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

/* https://stackoverflow.com/questions/2539207/how-to-change-the-strike-out-line-through-thickness-in-css */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* DETAIL */

input[type="radio"]:checked + label {
  background: #eb8102;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* CART */

.cart__line {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 2fr .5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* VIEWER */

#viewer__table,
#viewer__table th,
#viewer__table td {
  border: 1px solid #212529;
  border-collapse: collapse;
  padding: .125rem .25rem;
}

.id__cell {
  font-weight: bold;
  text-align: center;
}

.bra__cell {
  font-style: italic;
  color: forestgreen;
}

.wom__cell {
  background: pink;
}

.man__cell {
  background: skyblue;
}

.uni__cell {
  background: #b4c1cc;
}

.saled {
  background: #eb8102;
  color: #f8f9fa;
  font-weight: bold;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FORM CONTROLS */

label,
input,
select,
textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: .75rem;
  padding: .125rem; 

  accent-color: #eb8102;
}

input[type="radio"] {
  display: inline;
  width: fit-content;

  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  display: inline;
  width: fit-content;

}

textarea {
  resize: none;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #eb8102;
}



input,
select,
textarea {
  margin-bottom: .5rem;
}





@media (min-width: 800px) {

  .two__col {
    border: 2px solid teal;
    display: flex;
    /* gap: 2rem; */
  }
  
  .two__col__half {
    border: 2px solid gold;
    width: 100%;
  }  


  #inbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;  
  }

  .inbar__nav {
    display: flex;
    justify-content: space-between;
    gap: .5rem;  
  }

}




