* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #212529;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  color: #eb8102;
  border-bottom: 1px solid #dad1c8;
}

footer {
  background: #dad1c8;
  padding: 1rem;
  margin-top: auto;
}

section {
  /* border: 2px solid #dad1c8; */
  margin-bottom: .5rem;
}


h3 {
  border: 1px solid #212529;
  width: fit-content;
  padding: .25rem;
  margin: 4px;
}

h4 {
  border: 1px solid #099f9f;
  color: #099f9f;
  padding: .5rem;
  width: fit-content;
  margin: 0;
  padding: 0 .25rem;
}

ul {
  /* list-style: none; */
  /* padding: 0; */
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main__logo {
  text-decoration: none;
}

.brd__list {
  display: flex;
  gap: 1rem;
}

.brd__link {
  color: #dad1c8;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.container {
  width: 88%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  gap: .5rem;
}

.ls-none {
  list-style: none;
}

.btn {
  display: inline-block;
  background: #212529;
  color: #f8f9fa;

  text-decoration: none;
  font-size: .75rem;

  /* <button> */
  font-family: monospace;
  border: none;

  padding: .5rem;
  margin: .25rem;
  cursor: pointer;
}

.btn:hover {
  background: #eb8102;
}

.btn--xl {
  font-size: 1.25rem !important;
}

.block__link {
  background: #dad1c8;
}

.block__link:hover {
  background: #eb8102 !important;
  cursor: pointer;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.txtgr {
  color: #dad1c8 !important;
}

.txtor {
  color: #eb8102 !important;
}

.txtbl {
  color: #585ff5 !important;
}

.bigtext {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .25rem 0;
}

.alcent {
  text-align: center;
}

.alright {
  text-align: right;
}

.vst { /* very small text */
  font-size: .5rem;
  background-color: hsl(225, 52%, 91%);
  color: royalblue;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.badge {
  background: #eb8102;
  color: #f8f9fa;
  padding: .125rem;

  font-size: .75rem;
  font-weight: bold;

  letter-spacing: 2px;

  margin: 0 .25rem;
}



.view {
  color: #6c757d;
  background-color: #dad1c8;
  font-weight: bold;
  font-size: .75rem;

  border-left: 5px solid #6c757d;
  padding: .5rem;

  width: fit-content;
}

.page__title {
  color: #eb8102;
  border: 1px solid #eb8102;
  padding: .125rem;
}

.pch--display {
  background: #dad1c8;
  padding: .5rem;
  width: fit-content;  
}

.pch--func {
  background: #ccff00;
  padding: .5rem;
  width: fit-content;
}

.notes {
  color: #585ff5;
  background-color: hsl(237, 78%, 96%);
  font-size: .675rem;

  border-left: 5px solid #585ff5;
  padding: .5rem;

  width: fit-content;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* INDEX */

.gender__image {
  filter: saturate(0);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GENDER */

.cat__icon {
  width: 24px;
}


.inbar {
  background: khaki;
}

.inbar nav {
  flex-grow: 1;
}

.inbar__nav {
  /* background: skyblue; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.inbar__nav--primary,
.inbar__nav--secondary {
  display: flex;
  justify-content: space-evenly;
  gap: .5rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

.inbar__nav--primary {
  /* border: 2px solid green; */
}

.inbar__nav--secondary {
  /* border: 2px solid purple; */
}

.inbar__nav__link {
  /* border: 1px solid #eb8102; */
  padding: 0 1rem;
}

.inbar__nav__link a:hover {
  background: #dad1c8;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* PRODUCT CARDS */

.main__filters {
  background: lavender;
}


#showProducts { /* div qui contient les cards */
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}



.card {
  border: 1px solid #000;
  position: relative;

  width: 200px;
  height: 240px;

  padding: 1.5rem .25rem .25rem;
}


.card__id {
  position: absolute;
  left: 0;
  top: 0;

  padding: .25rem;
  color: deeppink;
}

.card__tag {
  position: absolute;
  right: 0;
  top: 0;

  width: 50%;
  height: 20px;
  background: #eb8102;
  color: #fff;

  text-align: center;
}

.price--def {
  color: #eb8102;
}

.price--erased {
  color: #dad1c8;
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

/* https://stackoverflow.com/questions/2539207/how-to-change-the-strike-out-line-through-thickness-in-css */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* VIEWER */

#viewer__table,
#viewer__table th,
#viewer__table td {
  border: 1px solid #212529;
  border-collapse: collapse;
  padding: .125rem .25rem;
}

.id__cell {
  font-weight: bold;
  text-align: center;
}

.bra__cell {
  font-style: italic;
  color: forestgreen;
}

.wom__cell {
  background: pink;
}

.man__cell {
  background: skyblue;
}

.uni__cell {
  background: #b4c1cc;
}

.saled {
  background: #eb8102;
  color: #f8f9fa;
  font-weight: bold;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FORM CONTROLS */

label,
input,
select,
textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: .75rem;
  padding: .125rem; 

  accent-color: #eb8102;
}

input[type="radio"] {
  display: inline;
  width: fit-content;

  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  display: inline;
  width: fit-content;

}

textarea {
  resize: none;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #eb8102;
}



input,
select,
textarea {
  margin-bottom: .5rem;
}





@media (min-width: 800px) {

  .two__col {
    display: flex;
    gap: 2rem;
  }
  
  .two__col__half {
    width: 100%;
  }  


  .inbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;  
  }

  .inbar__nav {
    display: flex;
    justify-content: space-between;
    gap: .5rem;  
  }

}




