*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--c-dark);
  color: var(--c-lgt);
  
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;

  padding: 0;
  margin: 0;
}


main {
  margin-bottom: 100px;
}

#jsList {
  display: none !important;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FONT SIZES / PADDING / MARGIN */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}






h4 {
  /* border: 1px solid #099f9f; */
  color: yellow;
  padding: .5rem;
  width: fit-content;
  margin: 0;
  padding: 0 .25rem;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BREADCRUMB */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


#breadcrumb {
  padding: 1rem 0;
}


.brd__list {
  display: flex;
  gap: .5rem;


  list-style: none;
  padding: 0;
}

.brd__link {
  color: var(--c-mid);
  margin-right: .25rem;

  font-size: .75rem;
}

.block__link {
  background: var(--c-mid);
}

.block__link:hover {
  /* background: #eb8102 !important; */
  cursor: pointer;
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- MODAL */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.modal {
  border: 3px solid var(--c-dark-dimm);
  background: var(--c-mid);
  color: var(--c-dark);

  position: fixed;
  
  top: 120px;
  right: 10px;
  
  width: 80%;
  min-height: 50px;

  font-size: 1.25rem;
  transition: all .4s ease-in-out;

  /* LOG */
  max-width: 0vw;
  padding: 0rem;
  opacity: 0;
}

.modal__show {
  max-width: 100vw;
  padding: .5rem;
  opacity: 1;
}

.modal--hidden {
  display: none;
}


@media (min-width: 820px) {

  .modal {
    width: 60%;
  }

}





/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- INDEX */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.gender__link {
  /* border: 2px solid #1be; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gender__title {
  text-align: center;
  width: 30%;
  background: var(--c-dark);
  color: var(--c-lgt);

  padding: .5rem;
}

#selectWom {
  background-image: url(../assets/pictures/active/genderWom.jpg);
}

#selectMan {
  background-image: url(../assets/pictures/active/genderMan.jpg);
}



.gender__link#selectWom:hover {
  background-image: url(../assets/pictures/active/genderWomB.jpg);
}

.gender__link#selectMan:hover {
  background-image: url(../assets/pictures/active/genderManB.jpg);
}

.gender__link:hover .gender__title {
  background: var(--c-lgt);
  color: var(--c-hero)
}



/* TODO -- MEDIA */
@media (min-width: 800px) {
  #genderNav {
    display: flex;
  }

  .gender__link {
    width: 50%;
    height: 50vh;
  }
  
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* newsletter */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#newsLetter {
  /* background: olive; */

  padding: 1.5rem 0;
}

#newsLetterForm {
  /* border: 2px solid #fd3; */

  display: flex;
  align-items: center;

  margin: 2rem auto;
}

.newsletter__input {
  border: 0;

  font-family: inherit;
  font-size: 1rem;

  display: block;
  
  height: 39px;
  padding: .25rem .5rem;
  margin: 0;
}

.btn--paperplane {
  display: block;

  height: 100%;
  padding: .25em 1.5em;
}

.newslett__btn__text--mob {
  display: block;

  /* background-image: url('../assets/icons/caret-double-right.svg'); */
  /* background-size: 100%; */
}

.newslett__icon--mob {
  width: 24px;
  height: 24px;
}

.newslett__btn__text--dsk {
  display: none;
}



/* TODO -- MEDIA */
@media (min-width: 800px) {
  
  #newsLetterForm {
    width: 50%;
  }
  
  .btn--paperplane {
    padding: .5em 1.5em;
  }

  .newslett__btn__text--mob {
    display: none;
  }
  
  .newslett__btn__text--dsk {
    display: block;
  }

}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* attribution */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


#attribution {
  margin-top: 2rem;
  font-size: .75rem;

}

.attrib__link {
  color: var(--c-hero);
}


@media (min-width: 820px) {
  #attribution {
    font-size: .875rem;
  }
}





/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- GENDER */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* MK -- inbar */

#inbar {
  /* border: 2px solid #3c6; */

  background: var(--c-shad);
}

#inbar nav {
  /* border: 2px solid #fd3; */
  flex-grow: 1;
}





.inbar__nav {
  /* background: skyblue; */
  list-style: none;
  padding: 0;
  margin: 0;
}


.inbar__nav--primary, /* both are <ul> */
.inbar__nav--secondary {
  
  list-style: none;
  
  display: flex;
  
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.inbar__nav--primary {
  /* border: 2px solid #1be; */
}

.inbar__nav--secondary {
  /* border: 2px solid #189; */

  justify-content: center;
  flex-wrap: wrap; /* this will be nowrap for desktop */

  padding: .5rem 0;
}


.inbar__nav__link {
  /* border: 1px solid gold; */
  padding: none;
}

.inbar__nav__link a {
  text-decoration: none;
  color: var(--c-lgt) !important;
}

.inbar__nav__link a:hover {
  /* background: chartreuse; */
  background: var(--c-hero-dimm);
}


.inbar--promo { /* bouton SOLDES */
  
  background: var(--c-hero);

  width: 50%;
  text-align: center;
}

.inbar--promo a {
  /* border: 1px solid deeppink; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;

  padding: .5rem 0;
}

.inbar--promo a:hover {
  background: var(--c-mid);
  color: var(--c-hero) !important;
}

.inbar--every { /* bouton TOUT */
  width: 50%;
  text-align: center;
}

.inbar--every a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;

  padding: .5rem 0;
}


.inbar__nav__link--category { /* <li> specific for category icon */
  /* background: deeppink; */
  /* border: 1px solid deeppink; */
  display: flex;
  justify-content: center;

  width: 20%; /* this will determine how many icons on one line */
}

.inbar__category__anchor { /* <a> containing a category icon */
  /* border: 1px solid gold; */

  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;



  padding: 6px;
  
}

.cat__icon {
  width: 24px;
}


.inbar__search {
  /* border: 2px solid #26e; */
  padding: .5rem 0;
}



#globalSearch { /* <input> */
  border: 0;
  background: var(--c-mid);
  
  font-family: inherit;


  padding: .25rem;
  margin: .125rem auto; 
  width: 90%;
}

/* TODO -- MEDIA */
@media (min-width: 820px) {

  #inbar nav {
    width: 80%;
  }

  .inbar__search {
    width: 20%;
  }


  .inbar__nav--primary {
    width: 30%;
  }

  .inbar__nav--secondary {
    flex-wrap: nowrap;
    width: 70%;
  }



}





/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* T*T -- CATEGORY */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* PRODUCT CARDS */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.card {
  /* border: 1px solid violet; */
  /* background: var(--c-shad); */
  position: relative;
  
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: var(--c-dark);
  
  width: 50%;

  cursor: pointer;

}






.card__tag {
  position: absolute;
  right: 0;
  top: 0;

  background: var(--c-hero);
  color: var(--c-lgt);
  font-size: 90%;
  font-weight: 800;
  text-align: center;


  padding: .375em 1em;

}

.card__pict {
  width: 100%;

  margin-bottom: -5px; /* correction d'une marge qui apparaît sous la photo... ??? */
}

.card__brand {
  background: var(--c-mid-dimm);
  color: var(--c-dark);
  padding: .25rem .5rem;
  font-size: .875rem;
}

.card__name {
  background: var(--c-shad);
  padding: .5rem;
}

.card__name__text {
  color: var(--c-hero);
  font-size: 1.125rem;
}

.card__price {
  background: var(--c-shad);
  padding: .5rem;
}

.card__price__text {
  font-weight: 800;
}





.price--def {
  color: var(--c-lgt);
}

.price--erased {
  color: var(--c-hero-dimm);
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

/* https://stackoverflow.com/questions/2539207/how-to-change-the-strike-out-line-through-thickness-in-css */




.card__details {
  background: var(--c-shad);

  height: 46px;

  font-size: .75rem !important;
  padding: .5rem;
}

/* DEPRECATED */
.card__id {
  position: absolute;
  left: 0;
  top: 0;

  padding: .25rem;
  color: deeppink;
}



/* TODO - MEDIA */
@media (min-width: 820px) {

  .card {
    width: 25%;
  }

}
















/* ???????? */
input[type="radio"]:checked + label {
  background: var(--c-hero);
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* VIEWER */

#viewer__table,
#viewer__table th,
#viewer__table td {
  border: 1px solid #212529;
  border-collapse: collapse;
  padding: .125rem .25rem;
}

.id__cell {
  font-weight: bold;
  text-align: center;
}

.bra__cell {
  font-style: italic;
  color: forestgreen;
}

.wom__cell {
  background: pink;
}

.man__cell {
  background: skyblue;
}

.uni__cell {
  background: #b4c1cc;
}

.saled {
  background: #eb8102;
  color: #f8f9fa;
  font-weight: bold;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FORM CONTROLS */

label,
input,
select,
textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: .75rem;
  padding: .125rem; 

  accent-color: #eb8102;
}

input[type="radio"] {
  display: inline;
  width: fit-content;

  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  display: inline;
  width: fit-content;

}

textarea {
  resize: none;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #eb8102;
}



input,
select,
textarea {
  margin-bottom: .5rem;
}





@media (min-width: 800px) {

  .two__col {
    border: 2px solid teal;
    display: flex;
    /* gap: 2rem; */
  }
  
  .two__col__half {
    border: 2px solid gold;
    width: 100%;
  }  


  #inbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;  
  }

  .inbar__nav {
    display: flex;
    justify-content: space-between;
    gap: .5rem;  
  }

}




