<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="style.css">
  <title>build01</title>
</head>

<body>

  <header>
    <div class="container">
      <div class="logo__wrapper">

      </div>
      <h1>#extra</h1>
    </div>


  </header>

  <div class="container">

    <nav>
      <ul>
        <li>link1</li>
        <li>link2</li>
        <li>link3</li>
        <li>link4</li>
        <li>link5</li>
      </ul>
    </nav>

  </div>

  <div class="separator"></div>






  <section class="gender">
    <div class="container">

      <div class="gender__wrapper">
        <div class="img__wrapper">
          <div class="pic pic1">
            <h1 class="gender__name">femme</h1>
          </div>
        </div>


        <div class="img__wrapper">
          <div class="pic pic2">
            <h1 class="gender__name">homme</h1>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="stuff">
    <div class="container">


      <div class="card">
        <div class="separator"></div>

        <div class="card__content">

          <div class="card__image">

          </div>
          
          
          <h2>€ 20.99</h2>
          <div class="dots"></div>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a repudiandae dignissimos aperiam
            consectetur iste saepe alias sed ea. Velit tenetur cupiditate magnam debitis, culpa soluta. Eius aliquid
            cupiditate nihil.</p>
        </div>

      </div>



      <div class="card">
        <div class="separator"></div>

        <div class="card__content">
          <h2>€ 20.99</h2>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a repudiandae dignissimos aperiam
            consectetur iste saepe alias sed ea. Velit tenetur cupiditate magnam debitis, culpa soluta. Eius aliquid
            cupiditate nihil.</p>
        </div>

      </div>



      <h2>€ 20.99</h2>
      <h2>soldes</h2>
      <h1 class="discount">— 50%</h1>

      <h3>€ 75.50</h3>
      <h4>€ 12.00</h4>


      <!--


    <div class="sample" style="background-color: #ee5a24;"></div>
    <div class="sample" style="background-color: #b4c1cc;"></div>
    <div class="sample" style="background-color: #f8f9fa;"></div>




    

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo fugit iste natus tempore ad aut nostrum excepturi,
      ullam quis, repellendus dignissimos. Voluptatibus odio et doloribus eaque magni? Non, deleniti ipsam! Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Eveniet, a iure repellat eos iusto similique, pariatur sit
      reprehenderit enim, laudantium doloremque nostrum delectus. Dolorum, commodi illo mollitia laboriosam omnis
      magnam?
    </p>

    -->

    </div>
  </section>





</body>

</html>